/E2E-Testing/.vs/E2ETesting
/E2E-Testing/bin/Debug/net8.0
/E2E-Testing/obj
/Unit-Testing/bin/Debug/net8.0
/Unit-Testing/obj/Debug/net8.0
/Unit-Testing/obj/Debug/net8.0/Unit-Testing.AssemblyInfo.cs
/Unit-Testing/obj/Debug/net8.0/Unit-Testing.AssemblyInfoInputs.cache
/Unit-Testing/obj/Debug/net8.0/Unit-Testing.csproj.AssemblyReference.cache
