@page
@model CRJ_Shop.Pages.Account.LoginModel
@{
}

<h1 class="text-center mt-5">Login</h1>

<form method="post" class="d-flex flex-column gap-2 w-50 mx-auto">
	<label class="form-label">Email</label>
	<input data-testid="email" class="form-control" type="email" asp-for="Email" required />
	
	<label class="form-label">Password</label>
	<input data-testid="password" class="form-control" type="password" asp-for="Password" required />
	
	<button data-testid="loginButton" class="btn btn-outline-dark" type="submit">Log in</button>
</form>

<span class="text-center mx-auto w-100 d-block my-2"> 
	<a asp-page="/account/register" class="text-decoration-none">
		Create an account 
	</a>
</span>


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<p style="color:red">@Model.ErrorMessage</p>
}